
.App-header {
  background-color: #c28b1d;
  text-align: center;
  height: 10vw;
}

.App-header img{
  width:17vw;
  height: 9vw;
}
.App-link {
  color: #61dafb;
}

.Logo{
  width: 20vw;
}

.App {
  text-align: center;
  background-color: #cab58b;
}

.barra{
  width: 60vw;
  padding: 1vw 2vw;
  display: flex;
  justify-content: center;
  background-color: #de4a33;
  border-radius: 7vw;
  margin: auto;
  text-align: center;
  
}
#links{ 
  display:flex;
  gap:4vw;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: white;
}